<div class="absolute flex w-fit flex-col items-center gap-3 top-[35%] z-99999 transition-all duration-300 ease-out 
                [text-shadow:3px_3px_10px_rgba(0,0,0,0.6)]" (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave($event)">
    <div class="page-title flex flex-col w-fit items-center animate-slide-in-right">
        <h1 class="font-duality text-9xl select-none text-center tracking-wide">
            Fazenda
        </h1>
        <h1 class="font-duality text-9xl select-none text-center tracking-widest">
            HUB
        </h1>
    </div>
    <div class="page-information max-w-[48%] animate-slide-in-right">
        <h3 class="text-white text-left text-[20px] font-yusei tracking-wide select-none">
            Passe o mouse em um dos minigames
            da barra de navegação para visualizar
            melhor!
        </h3>
    </div>
</div>