<header class="w-full p-3 z-50 fixed top-0 bg-emerald-600">
    <div class="flex justify-between align-middle items-center mx-auto px-10 bg-amber-700">
        <a class="flex items-center align-middle max-h-16">
            <h1 class="text-2xl text-white">
                Fazenda Gamehub
            </h1>
        </a>
        
        <div class="absolute left-1/2 transform -translate-x-1/2 h-auto w-auto">
            <nav class="flex gap-10 bg-amber-300 text-white">
                <a>Batalha Rural</a>
                <a>Em breve</a>
                <a>Em breve</a>
            </nav>
        </div>

        <button class="bg-transparent px-5 py-1 border-2 border-amber-400 text-white rounded">Login</button>
    </div>
</header>